<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
  <head>
    <title>{% block title %}Whispers of Abaddon{% endblock %}</title>
    <link rel="stylesheet/less" type="text/css" href="/static/less/bootstrap.less"/>
    <script type="text/javascript" src="/static/js/less.js"></script>
  </head>
  <body>
    {% block body %}
      <section class="main fixed-width">
        <header class="main">
					<a class="image-link" href="/">
						<img class="logo"
								 width="100"
								 height="100"
								 src="/static/img/logo.svg"/>
					</a>
          {% block navigation %}
            <nav class="main">
              <ul class="menu">
                <li>
                  <a href="/">Home</a>
                </li>
							  <li>
								  <a href="/about">About Us</a>
							  </li>
							  <li>
								  <a href="/lore">Lore</a>
							  </li>
              </ul>
            </nav>
            <nav class="account">
              {% if user %}
                <span>
                  {{user.name or 'Account Preferences'}}
                  <nav class="dropdown">
                    <ul>
                      <li><a href="/account/">Account Preferences</a></li>
                      <li><a href="{{logouturl}}">Logout</a></li>
                    </ul>
                  </nav>
                </span>
              {% else %}
                <a href="{{loginurl}}">Log In</a>
              {% endif %}
            </nav>
          {% endblock %}
          <div class="title">
            <h4>
							Upon our shoulders rests the task of a god
            </h4>
            <h4>
							We must finish what Abaddon started
            </h4>
          </div>
        </header>
        <section class="main">
          {% if user and user.hasroot %}
            <nav class="admin">
              <h4>Administration</h4>
              <ul>
                <li><a href="/admin/about/">About</a></li>
                <li><a href="/admin/lore/">Lore</a></li>
                <li><a href="/admin/account/">Accounts</a></li>
                <li><a href="/admin/character/">Character Details</a></li>
              </ul>
            </nav>
          {% endif %}
          {% block maincontent %}
          {% endblock %}
        </section>
				<footer>
				</footer>
      </section>
    {% endblock %}
  </body>
</html>
