[submodule "ant-build-script"]
	path = ant-build-script
	url = git@github.com:nelsam/ant-build-script.git
[submodule "build-script"]
	path = build-script
	url = git@github.com:nelsam/whoa-build-script.git
[submodule "lib/phpass"]
	path = lib/phpass
	url = https://github.com/exavolt/python-phpass.git
