{% extends 'baselayout.jinja2' %}

{% block maincontent %}
  <h3>{{title}} List</h3>
  <ol class="lore-list">
    {% for item in records %}
      <li>
        {{item.name}}
        {% if edit %}
          | <a href="/{{basepath}}/edit/{{item.key.urlsafe()}}">Edit</a>
        {% endif %}
        {% if delete %}
          | <a href="/{{basepath}}/delete/{{item.key.urlsafe()}}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>

  {% if create %}
    <a class="button" href="/{{basepath}}/create">New {{title}}</a>
  {% endif %}
{% endblock %}
