{% extends '/base_layout.jinja2' %}

{% block main_content %}
	<article class="home">
		<section class="main">
			<h1>Whispers of Abaddon</h1>
			<img class="logo" width="900" height="900"
					 src="/static/img/logo-inkscape.svg"/>
		  <h4 class="scratchings">
				We killed our savior
			</h4>
		</section>
	</article>
{% endblock %}
