{% extends 'baselayout.jinja2' %}

{% block maincontent %}
  <section class="account-details">
    <table class="account">
      <tr>
        <th>Display Name</th>
        <td>{{user.name or ""}}</td>
      </tr>
      <tr>
        <th>About You</th>
        <td>
          {% for paragraph in user.paragraphs %}
            <p>
              {{paragraph}}
            </p>
          {% endfor %}
        </td>
      </tr>
      <tr class="list">
        <th>Characters</th>
        <td>
          <ul>
            {% for character in user.characters %}
              <li>
                {% if character.ismain %}
                  <span class="main-character">[Main]</span>
                {% endif %}
                {{character.name}}
                <a class="button"
                   href="/account/character/edit/{{character.key.urlsafe()}}">
                  Edit Character
                </a>
                <a class="button"
                   href="/account/character/delete/{{character.key.urlsafe()}}">
                  Delete Character
                </a>
              </li>
            {% endfor %}
          </ul>
          <a class="button"
             href="/account/character/create">Add Character</a>
        </td>
      </tr>
    </table>
    <a class="button" href="/account/edit">Edit Details</a>
  </section>
{% endblock %}
