<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
	<head>
		<title>{% block title %}Whispers of Abaddon{% endblock %}</title>
		<link type="stylesheet/less">
	</head>
	<body>
		{% block body %}
			<header class="main">
				<img class="logo" src="/img/logo-with-tag-200x200.png"/>
				{% block navigation %}
					<ul class="menu">
						<li>
							<a href="/">Home</a>
						</li>
						<li class="dropdown">
							<a href="/members">Members</a>
							<ul class="submenu">
								{% for rank in member_ranks %}
									<li>
										<a href="/members/{{rank}}">{{rank.title()}}</a>
									</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				{% endblock %}
			</header>
			<section class="main">
				{% block main_content %}
				{% endblock %}
			</section>
		{% endblock %}
	</body>
</html>
