{% extends 'baselayout.jinja2' %}

{% block maincontent %}
  <h3>Account Administration</h3>
  <ul>
    <li><a href="/admin/account/ranks/">Guild Ranks</a></li>
    <li><a href="/admin/account/users/">Account Profiles</a></li>
  </ul>
{% endblock %}

