{% extends 'baselayout.jinja2' %}

{% block maincontent %}
  <h1>Rank List</h1>
  <ol class="lore-list">
    {% for rank in ranks %}
      <li>
        {{rank.name}} |
        <a href="/admin/account/ranks/edit/{{rank.key.urlsafe()}}">Edit</a> |
        <a href="/admin/account/ranks/delete/{{rank.key.urlsafe()}}">Delete</a>
      </li>
    {% endfor %}
  </ol>

  <a class="button" href="/admin/account/ranks/create">Create New Rank</a>
{% endblock %}
